.my-header {
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.ribbon {
  text-align: center;
  font-size: 20px;
  color: white;
  padding-block: 5px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#144166),
    to(rgba(20, 65, 102, 0))
  );
  background: -o-linear-gradient(left, #144166 0%, rgba(20, 65, 102, 0) 100%);
  background: linear-gradient(90deg, #144166 0%, rgba(20, 65, 102, 0) 100%);
  font-weight: bold;
}
.ribbon.scrolled {
  background-color: #143a59;
}

.medi-logo {
  width: 200px;
  height: 60px;
}
.bg-light {
  background-color: transparent !important;
}
.nav-1 {
  position: absolute;
  right: 0;
}
.navbar-nav li {
  margin-right: 50px;
}
.navbar-brand {
  background-color: rgba(255, 255, 255, 0.281);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20%;
}
.nav-link {
  color: white !important;
  font-weight: 600;
  font-size: 20px;
}
.navbar-nav {
  margin-left: 30px;
}
.my-header {
  margin-top: 50px;
}

.my-header.scrolled {
  background-color: white !important;
}
.nav-link.scrolled {
  color: black !important;
}
.navbar-collapse {
  margin-top: 20px;
  margin-right: -40px;
}
@media only screen and (max-width: 767px) {
  .navbar-brand {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-nav {
    position: relative !important;
    margin-right: 0px;
  }
  .medi-logo {
    width: 165px;
    height: 45px;
    margin-right: -26px;
  }

  .nav-link {
    text-align: start;
    margin-right: 10px;
    color: black !important;
  }
  .nav-link:focus {
    background-color: transparent;
    color: black !important;
  }
  .user-link:focus {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .bg-light {
    background-color: white !important;
  }
  .nav-part-2 {
    margin-top: -2px !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .navbar-brand {
    margin-left: -51%;
  }
  .nav-link {
    text-align: end !important;
    margin-right: 10px;
    color: black !important;
  }
  .my-header {
    margin-top: 40px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .nav-link {
    text-align: end !important;
    margin-right: 10px;
    color: black !important;
  }

  .navbar-brand {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-nav {
    position: relative !important;
    margin-right: 0px;
  }
  .medi-logo {
    width: 165px;
    height: 45px;
    margin-right: -26px;
  }

  .nav-link {
    margin-left: 140px !important;
    text-align: end;
    margin-right: 10px;
    color: black !important;
  }
  .nav-link:focus {
    background-color: transparent;
    color: black !important;
  }
  .user-link:focus {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .bg-light {
    background-color: white !important;
  }
  .nav-part-2 {
    margin-top: -2px !important;
  }
  .my-header {
    margin-top: 40px;
  }
 
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
  .navbar-brand {
    margin-left: -35%;
  }
 
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
}
